@import "../../assets/shared.scss";
@import "../../assets/media-query.scss";

.body {
    display: inline-block;
    padding: 2em 0;
    margin: 0;
    width: 100%;

    header {
        height: max-content;
        text-align: center;
        h1 {
            display: inline-block;
            position: relative;
            font-size: 6rem;
            height: max-content;
            padding-left: 0.5em;
            line-height: 1em;
            @include xs {
                font-size: 3rem;
            }
        }

        h1::before {
            position: absolute;
            z-index: -1;
            content: "";
            width: 70%;
            height: 120%;
            top: -0.1em;
            background: $jungle;
        }
    }
    .content {
        width: 90%;
        padding: 1em;
        margin: auto;
        p {
            font-family: Catamaran;
            display: inline-block;
            font-size: 1rem;
            line-height: 1.5em;
            // word-wrap: break-word;
        }

        h1 {
            padding: 1em 0.5em;
            font-weight: 600;
        }

        a {
            color: black;
        }
    }

    .glass {
        background: rgba($color: rgb(226, 220, 220), $alpha: 0.4);
        backdrop-filter: blur(10px);
        margin: 0 2em;
        border-radius: 10%;
        text-align: center;
        @include xs{
            margin: 0 1em;
        }

        p {
            margin-bottom: 1em;
            display: block;
            font-size: 2rem;
            @include xs{
                font-size: 1.3rem;
            }
        }

        svg {
            width: 50%;
            margin: auto;
        }
        img {
            width: 50%;
            margin: auto;
        }
    }

    .socials {
        display: grid;
        width: 90%;
        height: max-content;
        margin: auto;
        background: url(../../assets/SVG/center-image.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 70%;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: scroll;
    }
}
