<body>
    <header>
        <a class="logo" href="#"><img src="../../favicon.ico" alt="" style="width: 128px; padding: 1em;" matTooltip="Return to home"
                matTooltipPosition="right"></a>
        <h1>PROJECTS</h1>
        <div class="header_image">
            <div>
            </div>
            <nav>
                <ul>
                    <li style="color: white;"><a href="">Home</a></li>
                    <li style="color: white;"><a href="about">About Me</a></li>
                </ul>
            </nav>
            <img src="../../assets/safar-safarov-koOdUvfGr4c-unsplash.jpeg" alt="header image">
        </div>
    </header>

    <section class="pro-card">
        <a href="https://rolexlusty.netlify.app" target="_blank">
            <img src="../../assets/1x/lmw.png" alt="">
            <div class="over"></div>
            <p>Lustys Minecraft World</p>
        </a>
    </section>
    <section class="pro-card">
        <a href="https://smplive.netlify.app" target="_blank">
            <img src="../../assets/1x/smplive.png" alt="">
            <div class="over"></div>
            <p>SMPLive</p>
        </a>
    </section>
    <section class="pro-card isyms">
        <a href="https://isyms.tech" target="_blank">
            <img src="../../assets/isyms.png" alt="">
            <div class="over"></div>
            <p>ISyMS</p>
        </a>
    </section>

    <!-- <ng-container *ngTemplateOutlet="smp">

    </ng-container> -->

    <ng-template #smp>
        <h1>Finishing touch</h1>
    </ng-template>

</body>