@import "../../assets/shared.scss";
@import "../../assets/media-query.scss";

body {
    $parsearea: 100vh;
    width: 100vw;
    height: 100%;
    font-family: "Bungee";
    /* IE and Edge */
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;

    button {
        margin-left: 2em;
        margin-top: 2em;
    }

    h1 {
        font-family: Bungee Shade;
        letter-spacing: 0.1em;
        text-align: center;

        // span{
        //     margin: 0;
        //     animation: stretch 1.8s  cubic-bezier(0.92, 0, 0.57, 0.34);
        //     font-size: 60px;
        //     background: $jungle;
        //     border-radius: 30px;
        //     padding: 16px;
        // }
    }

    p {
        letter-spacing: 0.1em;
        line-height: 2em;
    }

    header {
        position: relative;
        height: 70vh;
        width: 100%;
        background: rgba($color: #141f25, $alpha: 1);

        // text-align: center;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .header_image {
            height: 100%;
            width: 50%;
            div {
                position: absolute;
                width: 50%;
                height: 100%;
                background: rgba($color: #141f25, $alpha: 0.6);
            }
        }
        h1 {
            font-size: 45px;
            position: absolute;
            margin: 0;
            color: white;
            bottom: 50%;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            z-index: 99;
        }

        a {
            position: absolute;
            z-index: 99;
        }
    }
}
body ::-webkit-scrollbar {
    display: none;
}

.pro-card {
    width: 70%;
    height: 70%;
    margin: 48px auto;
    border-radius: 10px;
    position: relative;
    background: black;
    
    p {
        position: absolute;
        text-decoration: none;
        width: fit-content;
        font-size: 30px;
        margin: 0;
        color: white;
        bottom: 50%;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 99;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
    .over {
        position: absolute;
        width: 100%;
        border-radius: 10px;
        height: 100%;
        top: 0;
        background: rgba($color: #141f25, $alpha: 0.6);
    }
}

.pro-card:hover {
    animation: 1000ms 1 normal  running swell cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes stretch {
    0% {
        margin: 0;
    }

    75% {
        margin: 0 0.2em;
    }

    100% {
        margin: 0;
    }
}

@keyframes swell {
    0% {
        transform: scale3d(1.05, 1.05, 0.5);
        transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    }

    // 100%{
    //     transform: scale3d(0.5);
    //     transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    // }
}

@keyframes box {
    0% {
        width: 0;
    }

    75% {
        width: 0.6em;
    }

    100% {
        width: 0;
    }
}
