@import "../../assets/shared.scss";
@import "../../assets/media-query.scss";

body {
    $parsearea: 100vh;
    width: 100vw;
    height: 100%;
    font-family: "Bungee";
    /* IE and Edge */
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;

    button {
        margin-left: 2em;
        margin-top: 2em;
    }

    h1 {
        font-family: Bungee Shade;
        letter-spacing: 0.1em;
        text-align: center;

        // span{
        //     margin: 0;
        //     animation: stretch 1.8s  cubic-bezier(0.92, 0, 0.57, 0.34);
        //     font-size: 60px;
        //     background: $jungle;
        //     border-radius: 30px;
        //     padding: 16px;
        // }
    }

    p {
        letter-spacing: 0.1em;
        line-height: 2em;
    }

    header {
        height: max-content;
        // margin-bottom: 1em;
        text-align: center;
        padding: 8px;

        h1 {
            font-size: 45px;
            margin: 0;
        }

        a {
            display: flex;
            width: min-content;
        }
    }
}
body ::-webkit-scrollbar {
    display: none;
}

.last-entry {
    height: 140vh;
}

.project {
    color: $jungle;
    height: 70vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 4em 0 10em;

    @include xs {
        // flex-direction: column;
        display: block;
        margin: 4em 0 3em;
        height: auto;
    }

    @include sm {
        height: 110vh;
        margin: 4em 0 5em;
        display: block;
    }

    a {
        color: $jungle;
    }

    p {
        padding: 20px;
        display: block;
        width: 500px;

        i {
            color: $jungle;
        }
    }

    .text {
        .tech {
            p {
                padding: 10px;
            }
            .mat-progress-bar {
                width: 60%;
            }
        }
        p {
            @include xs {
                margin: auto;
                width: 300px;
                padding: 20px 0;
            }
            text-align: justify;
            @include sm {
                margin: auto;
                width: auto;
                padding: 0;
            }
            a {
                i {
                    margin: 0 0.5em;
                }
            }
        }
    }

    .preview {
        // perspective: 1000px;
        width: auto;

        @include xs {
            margin-bottom: 3em;
            height: auto;
        }

        @include sm {
            // margin-bottom: 3em;
            perspective: none;
        }
        img {
            // transform: skewY(20deg);
            // transform: skewY(40deg);
            // transform: rotateY(-30deg) skewY(8deg);
            // transform-style: preserve-3d;
            width: 400px;
            height: 400px;
            // box-shadow: 30px -20px 5px rgba(0, 0, 0, 1);
            backdrop-filter: drop-shadow();

            @include xs {
                width: 200px;
                height: 250px;
            }

            @include sm {
                // transform: none;
            }
        }

        iframe {
            // transform: skewY(20deg);
            // transform: skewY(40deg);
            // transform: rotateY(-30deg) skewY(8deg);
            // transform-style: preserve-3d;
            width: 400px;
            height: 400px;
            // box-shadow: 30px -20px 5px rgba(0, 0, 0, 0.7);
            // backdrop-filter: drop-shadow();
            border: $jungle solid 3px;
            border-radius: 10px;

            @include xs {
                width: 200px;
                margin-bottom: 3em;
                height: 250px;
            }

            @include sm {
                // transform: none;
                // transform-style: flat;
            }
        }
    }
}

.pro-card {
    width: 70%;
    height: 70%;
    margin: 48px auto;
    border-radius: 10px;

    a {
        text-decoration: none;
    }
}

.lmw {
    background: url(../../assets/1x/lmw.png);
    background-repeat: no-repeat;
    background-position-y: -0px;
    background-size: cover;
}
.smp {
    background: url(../../assets/1x/smplive.png);
    background-repeat: no-repeat;
    background-position-y: -0px;
    background-size: cover;
}
.isyms {
    background: url(../../assets/1x/isyms.png);
    background-repeat: no-repeat;
    background-position-y: -0px;
    background-size: cover;
}

.overlay {
    width: 100%;
    display: flex;
    height: 100%;
    background: rgba(0, 0, 0, 0.555);
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    z-index: 2;

    img{
        width: 90%;
        z-index: -1;
    }
    p {
        color: white;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        text-align: center;

        width: 100%;
        font-size: 3rem;
        margin: auto;
    }
}

@keyframes stretch {
    0% {
        margin: 0;
    }

    75% {
        margin: 0 0.2em;
    }

    100% {
        margin: 0;
    }
}

@keyframes box {
    0% {
        width: 0;
    }

    75% {
        width: 0.6em;
    }

    100% {
        width: 0;
    }
}
