<body>
    <header>
        <a href="#"><img src="../../favicon.ico" alt="" style="width: 128px; padding: 1em;" matTooltip="Return to home"
                matTooltipPosition="right"></a>
        <h1>PROJECTS</h1>
        <div class="header_image">
            <div></div>
            <img src="../../assets/safar-safarov-koOdUvfGr4c-unsplash.jpeg" alt="header image">
        </div>
    </header>

    <section class="pro-card">
        <a href="">
            <img src="../../assets/1x/lmw.png" alt="">
            <div class="over"></div>
            <p>Lustys Minecraft World</p>
        </a>
    </section>
    <section class="pro-card">
        <a href="">
            <img src="../../assets/1x/smplive.png" alt="">
            <div class="over"></div>
            <p>SMPLive</p>
        </a>
    </section>
    <section class="pro-card isyms">
        <a href="">
            <img src="../../assets/1x/isyms.png" alt="">
            <div class="over"></div>
            <p>ISyMS</p>
        </a>
    </section>

    <!-- <ng-container *ngTemplateOutlet="smp">

    </ng-container> -->

    <ng-template #smp>
        <h1>Finishing touch</h1>
    </ng-template>

</body>