@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Orbitron:wght@500&family=Spartan:wght@100;300;600&family=Catamaran:wght@400;500&family=Lato:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Bungee+Inline&family=Bungee+Outline&family=Bungee+Shade&display=swap");
@import "~@angular/material/theming";
@import "/src/assets/shared.scss";



$lustys-portfolio-primary: mat-palette($green-palette, 500);
$lustys-portfolio-accent: mat-palette($mat-cyan, A700, A400);

$lustys-portfolio-warn: mat-palette($mat-red);
$lustys-portfolio-typography: mat-typography-config(
  $font-family: "Spartan",
);

$lustys-portfolio-theme: mat-light-theme(
  (
    color: (
      primary: $lustys-portfolio-primary,
      accent: $lustys-portfolio-accent,
      warn: $lustys-portfolio-warn,
    ),
    font-family: $lustys-portfolio-typography,
  )
);

@include angular-material-theme($lustys-portfolio-theme);

@include mat-core($lustys-portfolio-typography);



html,
body {
  height: 100%;
  margin: 0;
  font-family: Catamaran, "Helvetica Neue", sans-serif;
  // overflow: hidden;
}

header {
  height: 3em;
  nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px 40px;

    li {
      font-size: 18px;
      margin: 0 10px;
      display: inline-block;
    }
  }
}
