@import "../../assets/shared.scss";
@import "../../assets/media-query.scss";

.body {
    color: white;
    width: 100vw;
    height: max-content;
    position: relative;
    background: black;

    @include xs {
        height: 100vh;
        // text-align: center;

        .tagline {
            margin-top: 5%;
            p {
                font-size: 3rem;
                line-height: 1em;
            }
        }
        .mark {
            margin: 0;
            svg {
                width: 80%;
            }
        }
        .navi {
            ul {
                li {
                    display: inline;
                }
            }
        }
    }

    .bracket-top {
        position: absolute;
        width: 15%;
        height: auto;
        padding: 16px;
        top: 16px;
        left: 16px;
        @include xs {
            width: 10%;
        }
    }

    .mark {
        padding: 3% 0;
        width: 100%;
        display: flex;
        align-self: center;
        justify-self: center;
        img {
            margin: auto;
            width: 64.2%;
            height: auto;
        }
        svg {
            margin: auto;
            width: 64.2%;
            height: auto;
        }
    }

    .tagline {
        padding: 1em 1em;
        font-size: 40px;
        line-height: 1em;
        color: white;
    }

    .navi {
        position: absolute;
        bottom: 40px;
        right: 40px;
        font-size: 20px;
        z-index: 2;

        li {
            display: block;
            width: fit-content;

            a {
                text-decoration: none;
                color: white;
                img {
                    margin: 5px 8px;
                    width: 25px;

                    // @include xs {
                    //     width: 20px;
                    // }
                }
            }
        }
    }

    .bracket-bottom {
        position: absolute;
        width: 15%;
        height: auto;
        padding: 16px;
        bottom: 16px;
        right: 16px;
        z-index: 1;
        @include xs {
            width: 10%;
        }
    }
}
